<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:property-placeholder location="classpath:client.properties"/>

    <bean id="client" class="ua.room414.spring.core.beans.Client">
        <constructor-arg type="long" index="0" value="${id}"/>
        <constructor-arg type="java.lang.String" index="1" value="${fullName}"/>
        <property name="greeting" value="${greeting}"/>
    </bean>

    <bean id="event" class="ua.room414.spring.core.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <bean id="app" class="ua.room414.spring.core.App">
        <constructor-arg type="ua.room414.spring.core.beans.Client" ref="client"/>
        <constructor-arg type="ua.room414.spring.core.loggers.EventLogger" ref="cacheFileLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref="loggers"/>
                <entry key="ERROR" value-ref="combinedLogger"/>
            </map>
        </constructor-arg>
    </bean>

</beans>